

body {
	background-image: url("../images/wall4.png");
	position: relative;
	margin-bottom: 30px;
}


.header {
	height: 90px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	width: 960px;
}

.header a {
	text-decoration: none;
	color: #777777;
	line-height: 90px;
	padding-right: 15px;
	padding-left: 15px;
	border-left: 1px solid #777777;
}

.header a:first-child {
	border-left: none;
}

.header a:last-child {
	padding-right: 30px;
}

.header nav {
	float: right;
}

.header h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	font-weight: bold;
	width: 165px;
	height: 90px;
	float: left;
	text-align: center;
	line-height: 90px;
	font-size: 20px;
}

.header h1:hover {
	background-color: #666666;
	color: #ffffff;
	font-weight: bold;
	width: 165px;
	height: 90px;
	float: left;
	text-align: center;
	line-height: 90px;
	font-size: 20px;
}

.main-content {
	width: 960px;
	margin: 0 auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}


.main-content h5 {
	font-size: 20px;
}

.image_bio {
	display: inline;
}

.image_bio img {
	float: left;
	width: 30%;
}

.Bioparagraph {
	display: inline;
}

.Bioparagraph p {
	float: left;
	width: 60%;
	margin-left: 30px;
	margin-right: 0;
	line-height: 1.5;
}

.p2 {
	clear: both;
	line-height: 1.5;
	margin-right: 0;
}

.main-container {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	width: 650px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
	margin-bottom: 150px;
}

hr {
	color: #777777;
}

.sidebar hr {
	width: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.Aboutme {
	font-size: 30px;
	font-weight: bold;
	color: #4aaaa5;
}


.sidebar {
	float: left;
	width: 265px;
	height: 180px;
	position: absolute;
	margin-left: 690px;
	margin-bottom: 150px;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	text-align: center;
	line-height: 60px;
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
}

input[type=submit] {
	background-color: #4aaaa5;
	padding: 10px 20px;
	font-size: 20px;
	color: #ffffff;
}


input[type=text] {
	width: 600px;
	height: 25px;
	border: 1px solid #dddddd;
}

input[type=email] {
	width: 600px;
	height: 25px;
	border: 1px solid #dddddd;
}

#submitbutton:hover {
	padding: 10px 20px;
	font-size: 20px;
	color: #ffffff;
	background-color: #666666;
}

textarea {
	border: 1px solid #dddddd;
}

.footer {
	clear: both;
	background-color: #666666;
	height: 85px;
	border-top: 5px solid #4aaaa5;
	text-align: center;
	line-height: 85px;
	color: #ffffff;
	font-size: 15px;
	width: 100%;
	position: fixed;
	margin-top: 75px;
	bottom: 0;
	left: 0;
}


@media screen and (max-width: 980px) {

	.header h1 {
		margin-left: 40px;
	}

	.main-content {
		padding: 10px;
		margin-bottom: 20px;
		width: 75%;
	}

	.p2 {
		padding-top: 10px;
	}


	.main-container {
		width: 60%;
		padding-bottom: 20px;
	}


	input[type=text] {
		width: 95%;
	}

	input[type=email] {
		width: 95%;
	}

	textarea {
		width: 95%;
	}

}

@media screen and (max-width: 980px) and (min-width: 769px){

	.header nav {
		float: left;
		padding-left: 275px;
	}

	.main-container img {
		width: 95%;
		padding-left: 3%;
	}

	.main-container p {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}

	.sidebar {
		float: left;
		width: 25%;
		margin-left: 50%;
	}

}

@media screen and (max-width: 768px) {
	
	.main-content {
		width: 100%;
		padding: 20px;
		margin-bottom: 20px;
	}

	.header {
		width: 93%;
	}

	.main-container {
		width: 90%;
		padding-bottom: 20px;
		
	}

	.main-container img {
		width: 30%;
	}

	.sidebar {
		width: 90%;
		margin-left: 0px;
		position: static;
		margin-top: -100px;
		text-align: left;
		padding-left: 20px;
	}

	.sidebar hr {
		margin-bottom: 20px;
		text-align: left;
		margin-left: 0px;
		width: 97%;
	}

	input[type=text] {
		width: 95%;
	}

	input[type=email] {
		width: 95%;
	}

	textarea {
		width: 95%;
	}

}

@media screen and (max-width: 640px) {

	.header {
		display: static;
	}

	.main-container p {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}

	.main-container img {
		width: 100%;
	}

	.header h1 {
		width: 100%;
		margin-left: 0px;
		pointer-events: none;
	}

	.header nav {
		width: 100%;
		background-color: #ffffff;
		margin-bottom: 20px;
	}

	.header a {
		border: none;
		width: 100%;
		margin-left: 60px;
	}
	
}

@media screen and (max-width: 576px) {
	.header a {
		margin-left: 20px;
	}


}

